# State Farm Data Scientist Opening Pre-employment Assessment
## Junzhou Lin

## Step 0. Preparation:

In [1]:
#Package
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier


from sklearn.metrics import accuracy_score, classification_report, roc_curve,roc_auc_score

from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.model_selection import cross_val_score,cross_val_predict
from sklearn.model_selection import GridSearchCV

import warnings
warnings.filterwarnings("ignore")

In [2]:
#Data
df = pd.read_csv("exercise_40_train.csv")

In [3]:
#Brief understanding of data
df.head()

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x91,x92,x93,x94,x95,x96,x97,x98,x99,x100
0,0,0.165254,18.060003,Wed,1.077380,-1.339233,-1.584341,0.0062%,0.220784,1.816481,...,-0.397427,0.909479,no,5.492487,NaN,10.255579,7.627730,0,yes,104.251338
1,1,2.441471,18.416307,Friday,1.482586,0.920817,-0.759931,0.0064%,1.192441,3.513950,...,0.656651,9.093466,no,3.346429,4.321172,NaN,10.505284,1,yes,101.230645
2,1,4.427278,19.188092,Thursday,0.145652,0.366093,0.709962,-8e-04%,0.952323,0.782974,...,2.059615,0.305170,no,4.456565,NaN,8.754572,7.810979,0,yes,109.345215
3,0,3.925235,19.901257,Tuesday,1.763602,-0.251926,-0.827461,-0.0057%,-0.520756,1.825586,...,0.899392,5.971782,no,4.100022,1.151085,NaN,9.178325,1,yes,103.021970
4,0,2.868802,22.202473,Sunday,3.405119,0.083162,1.381504,0.0109%,-0.732739,2.151990,...,3.003595,1.046096,yes,3.234033,2.074927,9.987006,11.702664,0,yes,92.925935

In [4]:
df.shape

(40000, 101)

In [5]:
df.describe()

,y,x1,x2,x4,x5,x6,x8,x9,x10,x11,...,x89,x90,x91,x92,x94,x95,x96,x97,x98,x100
count,40000.000000,40000.000000,40000.000000,40000.000000,37572.000000,40000.000000,40000.000000,40000.000000,40000.000000,34890.000000,...,29309.000000,40000.000000,34741.000000,37565.000000,37660.000000,27396.000000,33362.000000,40000.000000,40000.000000,40000.000000
mean,0.145075,2.999958,20.004865,0.002950,0.005396,0.007234,0.004371,2.722334,0.490339,100.008988,...,10.767838,3.000166,0.001636,4.002896,3.969385,0.031886,10.525530,10.002814,0.497650,100.024743
std,0.352181,1.994490,1.604291,1.462185,1.297952,1.358551,1.447223,1.966828,1.029863,13.343010,...,3.732763,1.164411,1.468790,3.017420,1.473939,1.823091,1.437581,1.986984,0.500001,5.247514
min,0.000000,-3.648431,13.714945,-5.137161,-5.616412,-6.113153,-6.376810,-3.143438,-3.538129,50.526543,...,6.106024,-2.173310,-6.328126,-3.384399,-1.663063,-6.885150,8.210456,1.911272,0.000000,78.340735
25%,0.000000,1.592714,18.921388,-1.026799,-0.872354,-0.909831,-0.971167,1.340450,-0.207833,91.056682,...,7.927605,2.211125,-0.982679,1.610899,2.943758,-1.190682,9.397548,8.665103,0.000000,96.516856
50%,0.000000,2.875892,20.005944,0.002263,0.008822,0.007335,0.002226,2.498876,0.486926,100.020965,...,9.931831,2.998776,0.005664,4.099763,3.912526,0.001523,10.358355,9.994318,0.000000,100.024977
75%,0.000000,4.270295,21.083465,1.043354,0.892467,0.926222,0.985023,3.827712,1.182994,109.025025,...,12.710543,3.786751,0.989632,6.113157,4.930563,1.248742,11.448559,11.342574,1.000000,103.558762
max,1.000000,13.837591,27.086468,5.150153,5.698128,5.639372,5.869889,18.006669,4.724186,148.784484,...,38.566041,7.130058,6.868747,16.734658,11.669024,7.631773,18.725468,17.861580,1.000000,122.406809

In [6]:
dict = {}
for i in list(df.columns):
    if df[i].value_counts().shape[0]<500:
        dict[i] = df[i].value_counts().shape[0]

pd.DataFrame(dict,index=["unique count"]).transpose()

     unique count
y               2
x3             14
x24             2
x31             2
x33            51
x39             1
x59             2
x60            12
x65             5
x77             7
x79             2
x93             2
x98             2
x99             1

In [7]:
numerical= df.drop(['y'], axis=1).select_dtypes('number').columns
categorical = df.select_dtypes('object').columns
print(f'Numerical Columns:  {df[numerical].columns}')
print(f'Categorical Columns: {df[categorical].columns}')

Numerical Columns:  Index(['x1', 'x2', 'x4', 'x5', 'x6', 'x8', 'x9', 'x10', 'x11', 'x12', 'x13',
       'x14', 'x15', 'x16', 'x17', 'x18', 'x20', 'x21', 'x22', 'x23', 'x25',
       'x26', 'x27', 'x28', 'x29', 'x30', 'x32', 'x34', 'x35', 'x36', 'x37',
       'x38', 'x40', 'x41', 'x42', 'x43', 'x44', 'x45', 'x46', 'x47', 'x48',
       'x49', 'x50', 'x51', 'x52', 'x53', 'x54', 'x55', 'x56', 'x57', 'x58',
       'x59', 'x61', 'x62', 'x63', 'x64', 'x66', 'x67', 'x68', 'x69', 'x70',
       'x71', 'x72', 'x73', 'x74', 'x75', 'x76', 'x78', 'x79', 'x80', 'x81',
       'x82', 'x83', 'x84', 'x85', 'x86', 'x87', 'x88', 'x89', 'x90', 'x91',
       'x92', 'x94', 'x95', 'x96', 'x97', 'x98', 'x100'],
      dtype='object')
Categorical Columns: Index(['x3', 'x7', 'x19', 'x24', 'x31', 'x33', 'x39', 'x60', 'x65', 'x77',
       'x93', 'x99'],
      dtype='object')

### I let python try to differeciate categorical features and numerical features for me. It's not 100% accurate, but it make the job easier.
### So by looking at the categorcial features that been identified by python, x7 is a percentage value we should treat it as a numerical value, x19 is a money value we should also treat it as a numerical feature as well.

## Step 1 - Clean and prepare your data: 
### (Since the exact name of columns is unknown, therefore, EDA can't be performed efficiently, so I'll just skip the EDA.)

In [8]:
#Covert string numerical features to int numerical features
# x7 & x19
for i in range(len(df)):
    df.loc[i,'x7']=float(df.loc[i,'x7'][:-1])/100 #we want to get rid of the % sign.
    df.loc[i,'x19']=round(float(df.loc[i,'x19'][1:]),2) #we want to get rid of the $ sign.

In [9]:
df[['x7','x19']]

             x7      x19
0       6.2e-05  -908.65
1       6.4e-05 -1864.96
2        -8e-06  -543.19
3      -5.7e-05  -182.63
4      0.000109   967.01
...         ...      ...
39995  -8.5e-05  3750.52
39996   7.7e-05   448.87
39997 -0.000216   834.96
39998     1e-06    -48.1
39999   3.4e-05       96

[40000 rows x 2 columns]

In [10]:
#Missing Value
missing_count = df.isnull().sum().sort_values(ascending=False)
missing_percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
df_missing = pd.concat([missing_count, missing_percent], axis=1, keys=['Missing_Count', 'Missing_Percent'])
df_missing=df_missing[df_missing['Missing_Count']!=0]
print(len(df_missing))
#Out of the 100 features there are 42 feature with missing value

42

In [11]:
df_missing

     Missing_Count  Missing_Percent
x44          34247         0.856175
x57          32464         0.811600
x30          32336         0.808400
x55          17696         0.442400
x52          16182         0.404550
x74          12916         0.322900
x99          12836         0.320900
x49          12823         0.320575
x54          12728         0.318200
x95          12604         0.315100
x78          11373         0.284325
x16          11212         0.280300
x89          10691         0.267275
x14           9864         0.246600
x42           9729         0.243225
x85           9715         0.242875
x41           9503         0.237575
x77           9257         0.231425
x45           8009         0.200225
x61           7293         0.182325
x33           7171         0.179275
x96           6638         0.165950
x91           5259         0.131475
x80           5256         0.131400
x76           5249         0.131225
x75           5245         0.131125
x11           5110         0.127750
x64           5101         0.127525
x24           3856         0.096400
x92           2435         0.060875
x26           2433         0.060825
x79           2430         0.060750
x5            2428         0.060700
x83           2428         0.060700
x67           2425         0.060625
x63           2420         0.060500
x86           2407         0.060175
x38           2402         0.060050
x22           2387         0.059675
x68           2384         0.059600
x94           2340         0.058500
x88           2331         0.058275

In [12]:
df_missing.index.sort_values()

Index(['x11', 'x14', 'x16', 'x22', 'x24', 'x26', 'x30', 'x33', 'x38', 'x41',
       'x42', 'x44', 'x45', 'x49', 'x5', 'x52', 'x54', 'x55', 'x57', 'x61',
       'x63', 'x64', 'x67', 'x68', 'x74', 'x75', 'x76', 'x77', 'x78', 'x79',
       'x80', 'x83', 'x85', 'x86', 'x88', 'x89', 'x91', 'x92', 'x94', 'x95',
       'x96', 'x99'],
      dtype='object')

### Since we have 100 features and we don't know exact what are they, therefore we can be very strict on selecting useful feature. First of all, I'm going to drop columns that have more than 20% missing value.

In [13]:
df=df.drop(columns=df_missing[df_missing['Missing_Percent']>=0.2].index)

### x24 and x33 (gender & state) contain thousands of missing values in both train dataset and test dataset. With the requirement that we need to output a prediction for each of the rows in the test dataset, we can't just drop rows with missing gender or state value. 
### I personally think gender and state are values that it's missing value can't be impute by majority value nor treated as another category. Therefore I'll just drop x24 (gender) and x33(state), since we have plenty features to use.
### Similar reason applies to x79 as well, I'm uncertain about whether x79 is a categorical value or a numerical value with just two distinct numbers (0 or 1). I won't impute anything if I'm unsure what is x79 represents.

In [14]:
df=df.drop(columns=['x24','x33','x79'])

### After droping x24, x33, x79, all other columns should be numerical features. Just try to be conservative, I'll use mean imputation for any missing numerical data.

In [15]:
df.fillna(df.mean(), inplace = True)

In [16]:
#Check if I missed any missing data
df.isnull().sum().sort_values(ascending=False)

x100    0
x32     0
x23     0
x25     0
x26     0
       ..
x67     0
x68     0
x69     0
x70     0
y       0
Length: 79, dtype: int64

In [17]:
#Encoding categorical features
#x59,x79 and x98 are possible categorical features as well, but they are already encoded, no need to encode them again.
cat_fea=['x3', 'x31', 'x39', 'x60', 'x65', 'x93']
df = pd.get_dummies(df, columns = cat_fea, drop_first = True)

In [18]:
num_fea=[]
for i in df.columns:
    if i not in cat_fea and i not in ['y','x59','x79','x98']:
        num_fea.append(i)

In [19]:
#Outliers
#scaler = RobustScaler()
#df[num_fea] = scaler.fit_transform(df[num_fea])

### In terms of dealing with outliers. Since the exact name of each columns is unknown, therefore, we can't differenciate whether transform our data to deal with outlier is beneficial or not, nor try to use other methods to detect outliers.
### For example, sometime we may not want to transform the dollar amount, regression on dollars might give more meaningful outcome than a porpotion of the max.

In [20]:
X = df.drop(['y'],axis=1)
y = df[['y']]

In [21]:
#X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 42)

## Step 2 - Build your models:

In [22]:
#Accuracy with KFold to check for overfitting
kf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

In [23]:
#Logistic regression
algorithms = ['lbfgs', 'liblinear']

for i in algorithms:
    acc_score = cross_val_score(LogisticRegression(solver= i,random_state= 42), X, y, cv= kf, scoring="accuracy")
    auc_score = cross_val_score(LogisticRegression(solver= i,random_state= 42), X, y, cv= kf, scoring="roc_auc")
    print(f'Average Accuracy scores {i} are: {acc_score}')
    print(f'Average Accuracy score {i}: {"{:.4f}".format(acc_score.mean())}')
    print(f'Average Accuracy scores {i} are: {auc_score}')
    print(f'Average AUC {i}: {"{:.5f}".format(auc_score.mean())}')

Average Accuracy scores lbfgs are: [0.855   0.855   0.855   0.85475 0.855  ]
Average Accuracy score lbfgs: 0.8549
Average Accuracy scores lbfgs are: [0.62242488 0.63149917 0.64861937 0.62829262 0.63160669]
Average AUC lbfgs: 0.63249
Average Accuracy scores liblinear are: [0.85475  0.855125 0.855125 0.854625 0.854875]
Average Accuracy score liblinear: 0.8549
Average Accuracy scores liblinear are: [0.68497416 0.69165016 0.70028069 0.6718981  0.67765749]
Average AUC liblinear: 0.68529

### Since we didn't try to get rid of outliers and the dataset has so many features, therefore, I think random forest model is a very useful model here. Because first of all, tree-based models are generally less affected by outliers than linear models. Secondly, random forest allow a reduction in overfitting which is caused by having too many features.

In [24]:
#Random Forest
acc_score = cross_val_score(RandomForestClassifier(random_state= 42), X, y, cv= kf, scoring="accuracy")
auc_score = cross_val_score(RandomForestClassifier(random_state= 42), X, y, cv= kf, scoring="roc_auc")
print(f'Average Accuracy scores are: {acc_score}')
print(f'Average Accuracy score: {"{:.4f}".format(acc_score.mean())}')
print(f'Average Accuracy scores are: {auc_score}')
print(f'Average AUC: {"{:.5f}".format(auc_score.mean())}')

Average Accuracy scores are: [0.855875 0.855375 0.854875 0.85475  0.855875]
Average Accuracy score: 0.8554
Average Accuracy scores are: [0.73418419 0.73886923 0.74350916 0.72676229 0.73157805]
Average AUC: 0.73498

## Step 3 - Generate predictions:

In [25]:
test = pd.read_csv("exercise_40_test.csv")

In [26]:
test.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x91,x92,x93,x94,x95,x96,x97,x98,x99,x100
0,4.747627,20.509439,Wednesday,2.299105,-1.815777,-0.752166,0.0098%,-3.240309,0.587948,-0.260721,...,NaN,12.542333,no,3.107683,0.533904,12.438759,7.298306,0,NaN,93.567120
1,1.148654,19.301465,Fri,1.862200,-0.773707,-1.461276,0.0076%,0.443209,0.522113,-1.090886,...,-0.848567,7.213829,yes,4.276078,NaN,10.386987,12.527094,1,yes,98.607486
2,4.986860,18.769675,Saturday,1.040845,-1.548690,2.632948,-5e-04%,-1.167885,5.739275,0.222975,...,1.143388,10.483928,no,2.090868,-1.780474,11.328177,11.628247,0,yes,94.578246
3,3.709183,18.374375,Tuesday,-0.169882,-2.396549,-0.784673,-0.016%,-2.662226,1.548050,0.210141,...,0.693646,3.862867,no,2.643847,1.662240,10.064961,10.550014,1,NaN,100.346261
4,3.801616,20.205541,Monday,2.092652,-0.732784,-0.703101,0.0186%,0.056422,2.878167,-0.457618,...,-0.834763,3.632039,yes,4.074434,NaN,9.255766,12.716137,1,yes,102.578918

### cleaning test dataset

In [27]:
#Covert string numerical features to int numerical features
# x7 & x19
for i in range(len(test)):
    test.loc[i,'x7']=float(test.loc[i,'x7'][:-1])/100 #we want to get rid of the % sign.
    test.loc[i,'x19']=round(float(test.loc[i,'x19'][1:]),2) #we want to get rid of the $ sign.

In [28]:
test=test.drop(columns=df_missing[df_missing['Missing_Percent']>=0.2].index)
test=test.drop(columns=['x24','x33','x79'])
test.fillna(test.mean(), inplace = True)

In [29]:
test.isnull().sum().sort_values(ascending=False)

x100    0
x34     0
x25     0
x26     0
x27     0
       ..
x67     0
x68     0
x69     0
x70     0
x1      0
Length: 78, dtype: int64

In [30]:
#Encoding categorical features
cat_fea=['x3', 'x31', 'x39', 'x60', 'x65', 'x93']
test = pd.get_dummies(test, columns = cat_fea, drop_first = True)

### Fit test dataset into models and generate the prediction probability

In [31]:
#Logistic regression
lr=LogisticRegression(solver='liblinear',random_state= 42)
lr_model = lr.fit (X, y)
lr_y_pred = lr_model.predict(test)
lr_y_pred_prob = lr_model.predict_proba(test)
glmresults=lr_y_pred_prob[:,1]

In [32]:
#Random Forest
rf=RandomForestClassifier(random_state= 42)
rf_model = rf.fit (X, y)
rf_y_pred = rf_model.predict(test)
rf_y_pred_prob = rf_model.predict_proba(test)
nonglmresults=rf_y_pred_prob[:,1]

In [33]:
glmresults=pd.DataFrame(glmresults)
nonglmresults=pd.DataFrame(nonglmresults)

In [34]:
glmresults.to_csv(r'glmresults.csv',index=False,header=False)
nonglmresults.to_csv(r'nonglmresults.csv',index=False,header=False)

## Step 4 - Compare the modeling approaches:

In [35]:
guess_auc=pd.DataFrame()
guess_auc['Logistic regression AUC']=[0.6853]
guess_auc['Random Forest AUC']=[0.7350]

In [36]:
guess_auc

   Logistic regression AUC  Random Forest AUC
0                   0.6853              0.735

     During this take home assessment, I used two modeling approaches. One is the Random forest, and another one is the Logistic regression.
     
     The advantage of the Random forest is the model generally less affected by outliers than the Logistic regression model and it allow a reduction in overfitting which is caused by having too many features. However, it sacrificed speed for accuracy. The model takes much longer time to run than the Logistic regression, and also it's hard to explain to a non-tech person.
     
     Logistic regression is a high bias low variance model. The advantage is that it's stable, simple to implement and easy to explain to a non-tech person by using coefficient or plot. However, the disadvantage is it might not be as accurate as other complex models.
     
     Eventhough both Logistic regression model and Random forest model have very similar accuracy in this case, but consider the dataset given is very imbalanced, therefore, looking at the accuracy score might not be the best choice. By looking at the AUC, we can see that Random forest model (0.7350) has a higher AUC area than Logistic regression model (0.6953). Plus I didn't deal with outliers nor feature importance because I am uncertain about the definition of each columns. Therefore, I prefer the Random forest model over Logistic regression model, and I believe the Random forest model will perform better on the test set because it's more tolerated towards outliers and feature overfitting.
     
     My guess for AUC will be the same as the average AUC I got from the 5 fold cross_validation AUC score. Random forest will have a 0.7350 AUC, and a Logistic Regression will have a 0.6953 AUC.

     It's hard to explain what's going on in the model to a non-tech person just by telling numbers or scores. I always believe plot is the best to illustrate ideas. Therefore, we could plot the ROC, AUC, confusion matrix. If we don't have the access to any of the classification matric, I'll plot the partial dependence plots on those importance features to acess how any one features affects the model's decision, then take those features and start plotting them individually against the prediction results, while keeping all other features constant. By comparing the before and after plots for each model, it can give the business partner a general sense of which model is performing better at distinguish and predict class pattern.